body {
    padding: 10px;
}

.listing-image {
    height: 400px;
    margin-right: 20px;
}

.image{
    max-width: 100%;
    height: auto;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

.listing {
    border: 1px;
    border-style: solid;
    border-color: lightgray;
    height: 400px;
}

.listing-info {
    padding: 30px;
}

.listing-text {
    color: black;
}

.listing-date {
    color: gray;
}