{% extends "auctions/layout.html" %}

{% block title %}
    {{ listings.title }}
{% endblock %}

{% block body %}
<div class="list-text">
    <h2>
        <b>{{ listings.title }}</b>
    </h2>
</div>
<div class="container-fluid list">
    <div>
        <div class="list-image">
            <img class="image-list" src="{{ listings.image }}">
        </div>
    </div>
</div>
<div class="list-info">
    <div>
        <h5>{{ listings.description }}</h5>
    </div>
    <hr>
    <div>
        <h4 class="listing-text">
            <b>Current Bid: $ {{ listings.bid }}</b>
        </h4>
    </div>
    <form action="{% url 'listing' listings.id %}" method="POST"> 
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-12">
                <input class="place-bid" type="number" min="{{ listings.bid }}" max="999999" name="place_bid" placeholder="Bid">
            </div>
        </div>
        <input type="number" hidden name="user_id" value="{{ user.id }}">
        <input class="btn btn-primary" type="submit" value="Place Bid">
    <hr>
    <div>
        <h2> Details </h2>
        <li> Listed by: {{ users.username }} </li>
        <li> Created on: {{ listings.time }} </li>
        <li> Current Bidder: {{ bidder.username }} </li>
    </div>
    <hr>
    {% if users.username == user.username %}
        <input type="number" hidden name="delete_list" value="delete">
        <input class="btn btn-primary" type="submit" value="Close Listing">
    {% endif %}
    </form>
</div>
{% endblock %}