{% extends "auctions/layout.html" %}

{% block title %}
    {{ listings.title }}
{% endblock %}

{% block body %}
<!-- TITLE -->
<div class="list-text padding background1">
    <h2>
        <b>{{ listings.title }}</b> 
    </h2>
</div>
<hr>
<!-- IMAGE -->
<div class="container-fluid list background">
    <div>
        <div class="list-image">
            <img class="image-list" src="{{ listings.image }}"> 
        </div>
    </div>
</div>
<!-- DESCRIPTION -->
<hr>
<div class="list-info background0 padding">
    <div>
        <h4 class="listing-text">
            <b>Description:</b> 
        </h4>
        <h5>{{ listings.description }}</h5> 
    </div>
    <hr>
    <!-- CURRENT BID -->
    <div>
        <h4 class="listing-text">
            <b>Current Bid: $ {{ listings.bid }}</b> 
        </h4>
    </div>
    <!-- UPDATE BID -->
    <form action="{% url 'listing' listings.id %}" method="POST">  
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-12">
                <input class="place-bid" type="number" min="{{ min }}" max="999999" name="place_bid" placeholder="Bid">
            </div>
        </div>
        <input type="number" hidden name="user_id" value="{{ user.id }}">
        <input class="btn btn-primary" type="submit" value="Place Bid">
    </form>
    <hr>
        <!-- COMMENTS -->
        <div> 
            <h4 class="listing-text">
                <b>Comments</b>  
            </h4>
            <div class="container row">
                {% for comment in comments %}
                    <div class="form-group col-2">
                        <h6 class="listing-date">
                            by {{ comment.user }}
                        </h6>
                        <h6 class="listing-date">
                            {{ listings.time }}
                        </h6>
                    </div>

                    <div class="form-group col-10">
                        {{ comment.comment }}
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <hr>
            <form action="{% url 'comment' listings.id %}" method="POST"> 
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-12">
                        <input class="place-bid" type="text" name="comment" placeholder="Add comment">
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit Comment">
            </form>
        </div>
    <hr>
        <!-- DETAILS -->
        <div>
            <h4 class="listing-text">
                <b>Details</b>  
            </h4>
            <li> Listed by: {{ users.username }} </li>
            <li> Created on: {{ listings.time }} </li>
            <li> Current Bidder: {{ bidder.username }} </li>
        </div>
    <hr>

    <!-- BUTTON APPEARS IF THE CURRRENT USER IS THE ONE WHO POSTED THE LISTING-->
    {% if users.username == user.username %} 
        <form action="{% url 'close' %}" method="POST"> 
            {% csrf_token %}
            <input hidden type="number" name="listings_id" value="{{ listings.id }}">
            <input class="btn btn-primary" type="submit" value="Close Listing">
        </form>

    {% else %}

        {% for watch in watchlist %}

            <!-- IF LISTING HAS THE SAME LISTING IN WATCHLIST -->
            {% if listings.id == watch.watchlist %} 
                
                <form action="{% url 'remove' %}" method="POST"> 
                {% csrf_token %}
                    <input hidden type="number" name="remove_id" value="{{ listings.id }}">
                    <input class="btn btn-primary" type="submit" value="Remove Watchlist">
                </form>

            {% endif %}

        {% empty %} <!--ELSE-->

            <form action="{% url 'watchlist' %}" method="POST"> 
            {% csrf_token %}
                <input hidden type="number" name="add_id" value="{{ listings.id }}">
                <input class="btn btn-primary" type="submit" value="Add to Watchlist">
            </form>

        {% endfor %}

    {% endif %}
</div>
{% endblock %}


